@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:200,300,400,500,600,700|Roboto:100,300,400,500,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Josefin Sans",sans-serif;
}

:root {



   

    --mainColor: #4A55A2;
    --secondColor:#A0BFE0;
    --whiteColor: #ffffff;
    --titleColor: #555555;
    --labelColor: #333333;


    
    --Color1: #16161a;
    --Color2:#ff2020;
    --Color3:#0b1c39;
    --BgColor1: #ffffff;
    --BgColor2: #f0f0f2;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {

        background-image: url('../Media/about_hero.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    
    font-weight: 400;
    min-height: 100vh;
    display: grid;
    place-content: center;
    overflow: hidden;
}

input.secure-text {
    -webkit-text-security: disc;
    font-size: 18px;
    padding: 5px;
  }

.wrapper {
    position: relative;
    width: 35rem;
    height: 50rem;
}



.wrapper .form-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--whiteColor);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0 0 0 / .2);
}

.wrapper .form-container form h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--titleColor);
}

.wrapper .form-container form .form-group {
    position: relative;
    width: 32rem;
    margin: 1.5rem 0;
}

.wrapper .form-container form .form-group i,
.wrapper .form-container form .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    text-transform: capitalize;
    color: var(--labelColor);
    padding: 0 .5rem;
    pointer-events: none;
    transition: all .5s ease;
}

.wrapper .form-container form .form-group i {
    left: .5rem;
}

.wrapper .form-container form .form-group label {
    left: 2.5rem;
}

.wrapper .form-container form .form-group input {
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    border: .1rem solid var(--labelColor);
    font-size: 1.6rem;
    color: var(--labelColor);
    background: transparent;
}

form .form-group input:focus~label,
form .form-group input:valid~label,
form .form-group input:focus~i,
form .form-group input:valid~i {
    top: 0 !important;
    font-size: 1.2rem !important;
    background-color: var(--whiteColor);
}

.error{
    color: red;
}
.wrapper .form-container form .btn {
    background: linear-gradient(120deg, var(--Color2), var(--Color3));
    color: var(--BgColor1);
    border: none;
    text-transform: uppercase;
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 .4rem 1.5rem rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.wrapper .form-container form .btn:hover {
    background: linear-gradient(120deg, var(--Color3), var(--Color2));
    color: var(--BgColor1);
    box-shadow: 0 .6rem 2rem rgba(0, 0, 0, .4);
    transform: translateY(-0.2rem);
}


.wrapper .form-container form .link {
    text-align: center;
    font-size: 1.4rem;
    color: var(--labelColor);
    margin: 1.5rem 0;
    display: grid;
    justify-content: center;
}

.wrapper .form-container form .link a {
    text-transform: capitalize;
    color: var(--mainColor);
    text-decoration: none;
    font-weight: 600;
    transition: all .5s ease;
}

.wrapper .form-container form .link a:hover {
    color: var(--secondColor);
}

.g_id_signin{
    margin: 0.5rem auto;
}
.wrapper .sign-up {
    transform: rotate(7deg);
}

.wrapper.animated-signin .form-container.sign-in {
    animation: signin-flip 1s ease-in-out forwards;
}

@keyframes signin-flip {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.animated-signin .form-container.sign-up {
    animation: rotatecard .7s ease-in-out forwards;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.wrapper.animated-signup .form-container.sign-up {
    animation: signup-flip 1s ease-in-out forwards;
}

@keyframes signup-flip {
    0% {
        transform: translateX(0);
        z-index: 1;
    }

    50% {
        transform: translateX(50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.wrapper.animated-signup .form-container.sign-in {
    transform: rotate(7deg);
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}